// Define variables for your color scheme

// For example:
$red: #f73859;
$black: #384259;
$light-green: #7ac7c4;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #eeeeee;
