<div class="navbar-placeholder">
</div>

<nav class="navbar fixed-bottom navbar-light navbar-lewagon">
  <div class="navbar-icons">
    <a class="navbar-brand" href=<%= root_path %>>
    <i class="fas fa-tractor"></i>
  </div>
  </a>
  <div class="navbar-icons">
    <a class="navbar-brand" href=<%= new_tractor_path %>>
    <i class="fas fa-plus"></i>
  </div>
  <div class="navbar-icons">
    </a>
    <a class="navbar-brand" href="">
    <i class="far fa-user-circle"></i>
  </a>
  </div>
</nav>
