<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/9/fields.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1127&q=80);">
  <div class="container">
    <h1>Life has no meaning? Get a tractor and change your life</h1>
    <p>Find your tractor here</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <% @tractors.each do |tractor| %>

    <div class="col-sm-12 col-md-6 col-lg-4 card-container-adjustments">

      <%= render "shared/card", element: tractor %>
    </div>
    <% end %>
  </div>
</div>

<!-- If it needs variables: , variable_name: the_value -->
