<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/9/fields.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1127&q=80);">
    <h1>Life has no meaning?</h1>
    <p>Get a tractor and change your life</p>
    <a href="#tractors" id="scroll-btn"><span id="arrow"></span></a>
</div>

<div class="container">
  <div class="dropdown" id='rd'>
    <button class="btn btn-primary dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filters
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "Reward", root_path(q:'reward', anchor:'rd'), class: "dropdown-item" %>
      <%= link_to "Newest", root_path(q:'newest', anchor:'rd'), class: "dropdown-item" %>
      <%= link_to "Oldest", root_path(q:'oldest', anchor:'rd'), class: "dropdown-item" %>
    </div>
  </div>


  <div class="row" id="tractors">
    <% @tractors.each do |tractor| %>
      <div class="col-sm-12 col-md-6 col-lg-4 card-container-adjustments">
      <%= render "shared/card", element: tractor %>
      </div>
    <% end %>
  </div>
</div>

<!-- If it needs variables: , variable_name: the_value -->
