.simple_form {
  div.input {
    margin-bottom: 0px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
}

.form-group {
  margin-bottom: 0;
}

.button-adjustments {
  margin-top: 10px;
}

.button-login-adjustments {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo {
  margin-bottom: 15px;
}
