.navbar-lewagon {
  justify-content: space-between;
  background-color: #e84545;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-icons .fas {
  font-size: 30px;
}
